.francotecnologia_wc_parcpagseg_single_product_price_span {
  color: #00ADEF; font-size: 75%;
}

.francotecnologia_wc_parcpagseg_loop_item_price_span {
  color: #00ADEF; font-size: 100%;
}

.francotecnologia_wc_parcpagseg_cart_tr_th {
  color: #00ADEF; font-size: 100%; border-bottom: 1px solid #e8e4e3;
}
